
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    background-image:url(../img/Atlantic_near_Faroe_Islands.jpeg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-section {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: #ffffffc8;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-section h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea,
.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="file"] {
    margin-bottom: 10px;
}
